body
{
	margin:0px;
	padding: 0px;
	font-family: 'Poppins' !important;
	font-weight:lighter;
	font-size:13px;
	color: #121149 !important;
	/*overflow-x: hidden !important;*/
	/*overflow-y:hidden !important;*/
	font-weight: lighter !important;;

}
.open a
{
  background-color: #eff1f2 !important;
}

.nav  a:hover
{
      background-color: #eff1f2 !important;
}



.nav>li>a
{
color:#607d8b !important;
}

.dropdown-menu li:hover
{
background: #eff1f2 !important;
}

.dropdown-menu li
{
color:#222 !important;
font-weight: 400;
font-size:13px !important;
padding: 15px 20px !important;
}

.req
{
 /* color:#f48d73 !important;*/
}


.btn-primary
{
	background:#1976D2 !important;
	border:1px #1976D2 solid !important;
  border-radius:20px !important;
}


.btn-success
{
  background:#22cabf !important;
  border:1px #22cabf solid !important;


}

.label
{
  font-weight: normal !important;
}



.btn-danger
{
  background: #EF5350 !important;
  border:1px #EF5350 solid !important;;
}

.primary-border
{
  background:transparent !important;
  color:#2fa3e6 !important;

}

.danger-border
{
  background:transparent !important;
  color:#c5252c !important;  
}

.label-primary
{
	background:#2fa3e6 !important;
	border:0px !important;
}


.label-info
{
  background:#1976d2 !important;
  border:0px !important;
}

.label-success
{
  background:#81cca5 !important;
  border:0px !important;
}


.btn-warning
{
  background:#fed766 !important;
  border:0px !important;
}




.bg-danger {
    background-color: #E66C6B !important;
    color:#fff !important;
}


.bg-success {
    background-color: #22cabf !important;
    color:#fff !important;
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
background:#fff;
      
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ddd; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ddd; 
}


.row
{
	margin: 0px !important;
}

.inputCircle
{
  background: #fff;
  border-radius:20px;
  border:0px;
  color:#1f282d;
  padding:5px 20px;
  padding-left: 30px;
  outline:none;
}

.input
{
  border: 0px;
  border-bottom:1px #999 solid !important;
  background: transparent !important;
  -webkit-appearance:none;
  outline: none !important

}


.inputBoxRed
{
width: 100%;
    height: 33px;
    padding: 5px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color:#1f282d;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
padding: 5px 8px;
    box-shadow: none;
    border: 1px solid #f48d73 !important;
}

.inputBox
{
width: 100%;
    height: 33px;
    
    background-color: #fff;
    background-image: none;
    color:#1f282d !important;
    border-radius: 2px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
padding: 5px 8px;
    box-shadow: none;
    border: 1px solid #b0c0d6 !important;
    -webkit-appearance:none !important;
    outline: none !important;
}

.inputBoxSmall
{
 width: 100%;
    padding: 3px 0px 3px 3px;
    background-color: transparent !important;
    color:#1f282d;
    height: 23px;
    border:0px !important;
    border-bottom:1px #999 solid !important;
    font-size: 11px !important;
    line-height: 10px !important;
    outline: none !important;

}

.input1b
{
	border: 0px;
	border-bottom:1px #999 solid !important;
	background: transparent !important;
	-webkit-appearance:none;
	outline: none !important
}

.input1bdark
{
	border: 0px;
	border-bottom:1px #ddd solid !important;
	background: transparent !important;
	-webkit-appearance:none;
	outline: none !important;
	border-radius: 0px !important;
}

.input1bRed
{
	border: 0px;
	border-bottom:1px #b93d3c solid !important;
	background: transparent !important;
	-webkit-appearance:none;
	outline: none !important
}


.footer
{
	position: fixed;
	bottom: 0px;
	left:0px;
	width: 100%;
	margin:0px !important;
}

.logHeadBack
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#14112c+0,0c092d+99 */
background: #231f20; /* Old browsers */

}

.header
{
background: #1976D2; /* Old browsers */

	position: fixed;
	top:0px;
	height:100px;
	width: 100%;
	z-index: 2000;
            margin: 0px;

            color: #fff;
-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.1);
}



.btn
{
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1) !important;
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1) !important;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1) !important;
}


.shadow
{
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}

.sideMenu
{
	background: #fff;
	border-right:1px #eee solid;

-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    padding: 0px !important;
    overflow-y: auto;
}


.sideMenuSub
{
    width: 100%;
  background: transparent;
}


.sideMenuSub td .icon
{
  background:#21252D;
  padding:10px;
  position: absolute;
  top:12px;
  right:-10px;
  font-size: 12px;
  text-align: center !important;
  border-radius:2px;
  height: 33px;
  width:33px;
}

.sideMenuSub td
{
padding:15px 5px;
padding-left:0px !important;
color: #788195 !important;
text-align: left;
font-size: 12px !important;
}


.sideMenuSub tr td.inactive

{ 

background: transparent !important;
  cursor: pointer;

}


.sideMenuSub tr.active td

{ 


background: transparent !important;
  cursor: pointer;
    color: #788195 !important;
}

.sideMenuSub tr:hover td
{
  cursor: pointer;
color: #788195 !important;

}






.sideMenuTable
{
	width: 100%;
  background: #2B303B;
}

.icon
{
  background:#21252D;
  padding:10px;
  position: absolute;
  top:10px;
  right:10px;
  font-size: 12px;
  text-align: center !important;
  border-radius:2px;
    height: 33px;
  width:33px;
}

.sideMenuTable td
{
padding:20px;
color: #788195;
text-align: left;
font-size: 12px !important;
position: relative;;


}



.sideMenuTable tr.active td

{	


  cursor: pointer;
border-left-color: #2FA3E6;
    color: #fff;
}

.sideMenuTable tr:hover td
{


	cursor: pointer;
    color: #fff;
}


.sideMenuTableSmall
{
	width: 100%;
}


.sideMenuTableSmall td
{
padding:20px 10px;

border-bottom:1px #ddd solid;
color: #555;
}
.sideMenuTableSmall tr td:nth-child(1)
{
text-align: center;
width: 15%;
font-size: 15px;

}

.sideMenuTableSmall tr td:nth-child(2)
{
display: none !important;
}


.sideMenuTableSmall tr.active td
{
	color:#fff !important;
	background: #b93d3c;
	border-bottom:1px #b93d3c solid;
}

.sideMenuTableSmall tr:hover td
{
	color:#fff !important;
	background: #b93d3c;
	cursor: pointer;
		border-bottom:1px #b93d3c solid;
}

.btn
{
	outline: none !important;
}



.label
{
	cursor: pointer;
}
.fetchSmall th
{
  padding: 10px 5px !important;
  font-size: 11px !important;
}


.fetchSmall td
{
  padding: 10px 5px !important;
  font-size: 11px !important;
}


.fetchDash
{
  border:1px #ddd solid;
}

.fetchDash th
{
  color: #fff;
  background: #4d5d63;
  padding: 15px;
  font-size: 10px !important;
  font-weight: normal !important;
  text-transform: uppercase !important;;
}
.fetchDash td
{
  font-size: 14px !important;
  padding: 15px;
}
.fetchDash tr
{
  cursor: pointer;
}



.fetch th
{
  color: #4d5d63;
  background: #fff;
  padding: 15px;
  font-size: 10px !important;
  font-weight: normal !important;
  text-transform: uppercase !important;;
}
.fetch td
{
	font-size: 14px !important;
  padding: 15px;
}
.fetch tr
{
	cursor: pointer;
}

.fetch
{
	border: 1px #eee solid;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}

.noShadow
{

-webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;

}
.moduleHead
{
	padding: 10px;
}
.moduleHeading
{
	font-size:20px;
	color: #1976d2;
	display: inline-block;
	margin: 0px 0px 20px 0px;
  font-weight: 400;
  cursor: pointer;

}


.table-hover tr:hover td
{
  background:#eef5f9 !important;
}

.calStrip
{
  padding: 20px 0px 20px 0px;
  border-bottom:1px #eee solid;
  cursor: pointer !important;
}

.calStrip:hover
{
  background:#eef5f9;
}
.calCircleblue
{
color:#1976d2;
  float:left;
  padding:10px;
}

.calCircleorange
{
color:#FFB22B;
  float:left;padding:10px;

}
.subHead
{
  color: #96a0a5;
    margin: 0px 0px 20px 0px;
    font-weight: 400;
    padding: 15px 20px;
    border-bottom: 1px #eee solid;
}

.formHead
{
	background:#F1F4F9;
padding:5px;
font-size:14px;
font-weight:bold;
color:#444;
border:1px #eee solid;
}

.formCol
{
	background:#fff;
	height:auto !important;
}

.divShadow
{
	background:#fff;
}


.formLeft
{
 text-align:left;
height:auto !important;
min-height:60px !important;
font-weight: 400 !important;
    font-size: 13px !important;
    color: #1f282d; 
    padding-top:20px;
}

.formRight
{
 text-align:left;

height:auto !important;
min-height:60px !important;
padding-top: 10px;

}

.divLeft
{
text-align:right;
border-right:1px #eee solid;
border-bottom:1px #eee solid;
height:auto !important;
min-height:40px !important;
padding-top:10px;
background:#F7F7F9;
    font-weight: bold !important;
    font-size: 11px !important;
    color: #555;
}


.divRight
{
text-align:left;
border-right:1px #eee solid;
border-bottom:1px #eee solid;
height:40px !important;
padding-top:5px;
}


.toast
{

position: fixed;
    top:-200px;
    left: 0px;
    text-align: left;
    background: #fff;
    border-top: 1px #eee solid;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    height: 50px;
    padding: 15px;
    z-index: 20000000 !important;
    color: #222;
    width: 100%;
}




.loading
{
	background: rgba(255,255,255,0.5);
	position: fixed;
	top:0;
	left:0;
	height:2000px;
	width:100%;
	z-index: 200000;
	display: none;
}

.li-selected
{
	background: #eee url('../images/checked.png') no-repeat scroll 96% center !important;

}



.table
{
  border:0px !important;
}

.table tr td:nth-child(3)
{
  cursor: pointer !important;
}
.table th
{
  color: #fff !important;
  font-weight: 400 !important;
  border:0px !important;
  background:#81b7ea !important;
  padding: 15px 10px !important;
}

.table .w3-label-custom
{
	color: #ddd !important;
}

.circleBig
{
	margin-top:20px;
	border-radius:50%;
	height:50px;
	width:50px;
	background: #fff;
	text-align: center;
	padding-top: 17px;
	color: #fff;
}

tr.notlive td:last-child
{
		background: #f7f7f7 url('../images/notlive.png') no-repeat scroll 96% center;
}


tr.live td:last-child
{
		background: #fff url('../images/live.png') no-repeat scroll 96% center;
}


tr.halt td:last-child
{
		background: #fff url('../images/halt.png') no-repeat scroll 96% center;
}


tr.running td:last-child
{
		background: #fff url('../images/running.png') no-repeat scroll 96% center;
}



tr.selectedred td i
{
color:#fff;
}

tr.selectedred td
{
	background: #b93d3c;
	color:#fff;
}


tr.selectedred td:last-child
{
	background: #b93d3c url('../images/arrow-right.png') no-repeat scroll 96% center;
	color:#fff;
}


tr.selectedItem td
{
	background: #f9e4c5;
}


tr.selectedItem td:last-child
{
	background: #f9e4c5 url('../images/checked.png') no-repeat scroll 96% center;
}

.operatelist td
{
	padding:20px 10px !important;
	font-size:12px;
	cursor: pointer;
}

.operatelist td i
{
color:#999;
font-size: 10px;
}

.playControls td
{
	text-align: center;;
	padding: 5px;
	color: #222;

}


.playControls td.inactive
{

	color: #999;
}



.switch {
  position: relative;
  display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
    height: 21px;
    width: 21px;
    left: 0px;
    bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


.chartist-tooltip {
  font-size: 12px;
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #1d1851;
  color: #fff;
  font-family: 'Poppins';
  text-align: left;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }

  .chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #222; }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }

.ct-area, .ct-line {
  pointer-events: none; }

/*# sourceMappingURL=chartist-plugin-tooltip.css.map */




.filterTabs
{
  width:100%;

}

.filterTabs td
{
  font-size:10px !important;
  color:#222 !important;
  width: 33%;
  border-bottom:3px #f7f7f7 solid;
  text-align: center;
}

.filterTabs td.active
{
  border-bottom:3px #b93d3c solid;
}

.filterTabLi
{
  cursor: pointer;
  text-align: center !important;
  background: #f7f7f7 !important;
  padding: 0px !important
}



.midPro
{
  height:auto;
  width: 22%;
  border-radius:5px;
  border:1px #eee solid;
  background: #fff;
  padding:5px 10px;
  position:relative;
  overflow: hidden;
  text-align: left !important;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.layoverPro
{

background: rgba(0,0,0,0.4);
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  padding: 3px 10px;
  color: #fff;

}

.noBorder
{
  border-bottom: 1px #eee solid;
  font-size: 16px;
}

.noBorder i
{
  font-size: 16px;
}

.midGrad
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec5773+0,5b5769+100 */
background: #ec5773; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ec5773 0%, #5b5769 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #ec5773 0%,#5b5769 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #ec5773 0%,#5b5769 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec5773', endColorstr='#5b5769',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.block1
{
background: #EC5773;width: 100%;
}


.section {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  height:200px;
  background: #B1687B;
}

.section1 {
  clip-path: polygon(100% 30%, 100% 100%, 100% 100%, 0 100%);
  height:500px;
    background: #5b5769;
}



.itemSold
{
    background: #B1687B;
    position: absolute;
    top: 10px;
    left: -20px;
    width: 100px;
    -ms-transform: rotate(-36deg);
    -webkit-transform: rotate(-36deg);
    transform: rotate(-36deg);
    color: #fff;
    -webkit-box-shadow:0 2px 3px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.3);
  box-shadow: 0 2px 3px 2px rgba(0,0,0,0.3);
    text-align: center;

}

.catLabrev
{
  background: #DB6877 !important;
  color: #fff !important;
  border-radius: 3px !important;
  padding: 10px 10px !important;
  font-size: 11px !important;
  display: inline-block !important;
  margin: 5px 5px !important;
  border: 0px !important;
}


.tableMenu tr td:nth-child(1)
{
  text-align: center !important;
  background: #f7f7f7 !important;

}

.tableMenu td
{
  padding: 13px 10px;
  border-bottom:1px #ddd solid;
  color: #555;
  font-size: 14px;
  text-transform: uppercase;
}

.tableMenu td i
{
color:#666;
font-size: 18px;
}

.actPanel
{
  padding:10px;
  border-bottom:1px #eee solid;

}

.actPanelHead
{
  font-size:16px;
  font-weight: bold;
  color: #007acd;
}

.actPanelTime
{
  font-size:11px;
  color:#999;
}

ul.listBox li
{
  padding:10px 10px;
  color:#1f282d;
  border-bottom:1px #eee solid;
  cursor: pointer;
  font-size: 12px;
}

ul.listBox li:hover
{
  color:#2FA3E6;
}


ul.dropdown-menu
{
padding:0px !important;
}

.label-default
{
  background:#fff !important;
  color: #8899a0 !important;
  border: 1px #8899a0 solid;
}

.label-danger
{
  background:#fff !important;
  color: #f37e50 !important;
  border: 1px #f37e50 solid !important;


}

.smallfetch th
{
  color: #8899a0;
  padding: 10px !important;
  font-size: 11px !important;
}
.smallfetch td
{
  font-size: 11px !important;
  padding: 10px !important;
}
.smallfetch tr
{
  cursor: pointer;
}

.smallfetch
{
  border: 1px #eee solid;
}

.modal-backdrop
{
  z-index: 20000;
}


input[name=req] {    
border-left:2px #d05419 solid !important;
} 

.switchHolder td
{
text-align: center !important;
width: 25% !important;
}

.li-custom
{
  margin:0px !important;
}

.li-custom li
{
border:0px !important;
border-bottom:1px #eee solid !important;
border-radius:0px !important;
padding: 20px 10px !important;
background: transparent;
}

.li-custom li:hover
{
background:#FCF8E3;
}


.badge
{
  background: #d9534f !important;
  font-size:11px !important;
}

.disabled
{
  background: #eee !important;
   cursor:not-allowed;
}


.no-hover
{
  background: #fcf8e3 !important;
}

.feedBox
{
  padding:20px;

}
.time
{
  font-size:11px;
  color:#999;
}
.feedInner strong
{
  font-size: 15px;
}

.feedInner
{
  padding:10px;
  border:1px #eee solid;
  background: #fff;
  border-radius:10px;
  font-size:13px;

}

.feedImage
{
  height: 30px;
  width: 30px;
  float: left;
}


.topWindows
{
  display:none;position:absolute;top:40px;right:0px;width:300px;height:auto;max-height:500px;overflow-y:auto;background:#fff;border:1px #eee solid;border-top:0px;color:#222;text-align:left;
  z-index: 200; 
}

.sideMenuContainer
{
  padding:0px !important;
  position: fixed;
  height: 1000px;
  width:60px;
  top:0px;
  left:0px;
  background: #2F363D;
  z-index: 20;
  overflow-x: none !important;

}


.sideMenuContainer:hover
{


  left:0px;
}

.sideMenuContainer:hover .sideMenuTable td
{
border-bottom:1px #21252D solid;
}


.dropdown-menu li
{
padding:10px;
border-bottom: 1px #eee solid;
cursor: pointer;
}

.menuItem
{
  padding:15px 0px;
  text-align: center;
  color: #c7c7c7; 
  cursor: pointer;
  font-size: 12px;
  position: relative;
  overflow:visible;

}

.menuItem:hover
{
  background: #2D2D39;

}

.menuItem:hover i
{
  color: #15adc4;
}

.menuItem i
{
  font-size:20px;
}





.submenuItem
{
  position: absolute;
  left:58px;
  top:0px;
  background: #2F363D;
  width: 250px;
  height: auto;
  z-index: 200000;
  display: none;
  text-align: left;
  padding: 20px 20px;
  border-radius: 5px;


}

.subMenuTable td
{
  text-align: left;
  padding:10px;

}


.subMenuTable tr td:nth-child(1)
{
width: 20px;
}

.subMenuTable td:hover
{
color: #15adc4 !important;
}

.subMenuTable td:hover i
{
color: #15adc4 !important;
}


.subMenuTable td i
{
  font-size: 15px;
  color: #c7c7c7 !important;
}

.tooltip-inner
{
 padding: 10px 20px !important;
 font-size:11px !important;
  font-family: 'Poppins' !important !important;
  color: #15adc4 !important;
  text-transform: uppercase;;
  font-weight: bold;
}

.dashBox
{
  
  text-align: center;
  width: 100%;
  height:200px;
  border-radius: 5px;
  position: relative;

}

.dashBoxInner
{
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  padding-top: 35px;
  font-size: 30px;
  color: #fff;
  font-family: georgia;

}

.dashBoxBtnHolder
{
height: auto;
text-align: center;
  position: absolute;
  top: 75px;
  left: 0px;
  width: 100%;
  z-index: 1;
}


.btnroundbig
{
  border-radius: 20px !important;
  font-size: 13px !important;
  padding: 10px 20px !important;
  font-weight: bold !important;
}

.barUpper
{
  width:100%;
  border-radius:20px;
  border:1px #eee solid;
  height:20px;
  position: relative;
}


.barInner
{
  position: absolute;
  top:0px;
  left:0px;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  height:18px;
  text-align: left;
  padding:1px 10px;
  color:#fff;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}

.hoverItemTimeBox
{
  padding:10px;
  border:1px #ddd solid;
}

select
{
  background: #fff url('../images/caret-down.png') scroll no-repeat 98% center !important;

}

select.selectSmall
{
 background: #fff url('../images/caret-down.png') scroll no-repeat 92% center !important; 
}

#timeBox td
{
border-bottom: 1px #ddd solid;
border-right: 1px #ddd solid;
}

.list-group-item
{
  border-radius:0px !important;
  cursor: pointer !important;
}

.list-group-item:hover
{
  background:#f8f2e6;
}

.nav-tabs>li>a
{
  border-radius: 0px !important;
  font-size: 11px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
}

.btn
{
  border-radius: 2px !important;
}


input:read-only, select:disabled { 
    background-color: #f7f8f8 !important;
    cursor: not-allowed !important;;
}

.calendar th
{
 padding:20px;
 color: #96a0a5;
 text-align: center;
 background: #F2F7F8;
}

.calendar td 
{
  position: relative;
  text-align: center;
  vertical-align: middle;
    border:1px #eee solid;
    cursor: pointer;
    width:13%;
    height:100px;
    font-size:20px;
}

.text-primary
{
  cursor: pointer !important;
}

.calendar td div.popover
{
  min-width: 200px;
  color:#222 !important;
}


.calendar td:hover
{
background: #F2F7F8;
}

.calendar td span
{
  position: absolute;;
  top:5px;
  right:5px;
  font-size:12px;
}


.calendar div.holiday
{
  background: #26dad2 !important;
  color:#fff;
  font-size: 12px !important;
  border-radius:2px;
  padding: 10px 20px;
  display:inline-block;
  text-align:center;
  position: absolute;
  bottom:0px;
  left:0px;
  border-top-right-radius:10px;
}

.calendar div.different
{
  background: #7460EE !important;
  color:#fff;
  font-size: 12px !important;
  border-radius:2px;
  padding: 10px 20px;
  display:inline-block;
  text-align:center;
  position: absolute;
  bottom:0px;
  left:0px;
  border-top-right-radius:10px;

}




.calendar td.today
{

background: #E66C6B !important;
  color:#fff;
  font-size: 12px !important;
  border-radius:2px;
  padding: 10px 20px;
  display:inline-block;
  text-align:center;
  position: absolute;
  bottom:0px;
  left:0px;
  border-top-right-radius:10px;

}


.calendar td.current
{

  color:#222;
}


.calendar td.sunday
{
  background: #F2F7F8;
  color:#ccc;
}

.calendar td.past
{
  color:#ccc;
}


.userbubbleouter
{
  text-align: left;
  padding: 0px 0px 20px 0px;
}

.mybubbleouter
{
  text-align: right;
  padding: 0px 0px  20px 0px;
}

.userbubbletri 
{
width: 0;
height: 0;
border-style: solid;
border-width: 0 25px 15px 0;
border-color: transparent #CFECFE transparent transparent;
  position: absolute;
    left: -15px;
    top: 0px;
    
    z-index: 20;
}

.userbubble i
{
  position: absolute;
    left: -6px;
    top: 2px;
    font-size: 20px;
    z-index: 20;
    color:#CFECFE;
}

.userbubble
{
  background:#CFECFE;
  padding:10px;
  text-align: left;
  max-width:80%;
  display: inline-block;
  position: relative;
}

.mybubbletri 
{

width: 0;
height: 0;
border-style: solid;
border-width: 15px 25px 0 0;
border-color: #F6F6F6 transparent transparent transparent;
  position: absolute;
    right: -15px;
    top: 0px;
    
    z-index: 20;
}



.mybubble i
{
  position: absolute;
    right: -6px;
    top: 2px;
    font-size: 20px;
    z-index: 20;
    color:#F6F6F6;
}

.mybubble
{
  background:#F6F6F6;
  padding:10px;
  text-align: left;
  max-width:80%;
  display: inline-block;
  position: relative;
}

.letterBox
{
  border-radius:50%;
  height:40px;
  width:40px;
  background:#999;
  text-align: center;
  padding-top: 10px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;;
}

.chattime
{
  color:#999;font-size:11px;margin-top:5px;
}



.notifTop td
{
  padding:20px;
  border-right:1px #eee solid;
  width:20%;
  text-align:center;
  border-bottom:5px #eee solid;
  cursor: pointer;
}


.notifTop td.selected
{
    border-bottom:5px #fd7467 solid;

}

.selectInput34border,.selectInput38border{
  border-left: 2px #d05419 solid !important;
}
