<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_0ea16"></div>
  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/BSE-SWASTIKA/" rel="noopener" target="_blank"><span class="blue-text">SWASTIKA Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "BSE:SWASTIKA",
  "timezone": "Etc/UTC",
  "theme": "Light",
  "style": "1",
  "locale": "in",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": true,
  "withdateranges": true,
  "range": "1d",
  "hide_side_toolbar": false,
  "details": true,
  "hotlist": true,
  "calendar": true,
  "news": [
    "stocktwits",
    "headlines"
  ],
  "container_id": "tradingview_0ea16"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->